#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "open-web-calendar"
name = "Open Web Calendar"
description.en = "Embed a web calendar into your own website"
description.fr = "Intégrez un calendrier Web à votre propre site Web"

version = "1.51~ynh1"

maintainers = []

[upstream]
license = "GPL-2.0"
website = "https://open-web-calendar.hosted.quelltext.eu/"
demo = "https://open-web-calendar.hosted.quelltext.eu/"
code = "https://github.com/niccokunzmann/open-web-calendar/"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/calendar"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/niccokunzmann/open-web-calendar/archive/refs/tags/v1.51.tar.gz"
    sha256 = "b937b54fbe38b0084dc6f70fa78a179779e6fe54bbe105b175f46782e9607c65"
    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    main.default = 5000

    [resources.apt]
    packages = "python3-venv, python3-pip"
